<!doctype html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body>
  <%- include('./partials/header')%>

<!-- aca terminan las barras y empieza el carrusel -->
    <div class="carousel slide" id="myCarousel"  data-ride="carousel">
        <div class="carousel-inner mostrar-lg">

          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-item active mostrar-lg">
            <a href="#"><img src="images/PIA1.jpg" class="d-block w-100 mostrar-lg" alt="..."></a>
       <!-- <div class="container">
           <div class="carousel-caption text-left">
            <h1>BLACK FRIDAY</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas
               eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
          </div> 
        </div>-->
          </div>

          <div class="carousel-item mostrar-lg">
            <a href="#"><img src="images/PIA2.jpg" class="d-block w-100 mostrar-lg" alt="..."></a>
           <!-- <div class="container">
              <div class="carousel-caption">
                <h1>Example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
              </div>
            </div> -->
          </div>

          <div class="carousel-item mostrar-lg">
            <a href="#"><img src="images/PIA3.jpg" class="d-block w-100 mostrar-lg" alt="..."></a>
           <!-- <div class="container">
              <div class="carousel-caption text-right">
                <h1>Example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
              </div>
            </div> -->
          </div>

        </div>

        <a class="carousel-control-prev mostrar-lg" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next mostrar-lg" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="container">
        <!-- Aca van los mas vendidos--> 
         <h2>Algunos de nuestros productos</h2>

          <div class="row row-cols-1 row-cols-md-4 card-deck">
            <div class="card">
              <img class="card-img-top" src="../Images/productos/<%= productos[1].dataValues.image %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= productos[1].short_description %></h5>
                <p class="card-text"><%= productos[1].long_description %></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../Images/productos/<%= productos[1].dataValues.image %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= productos[2].short_description %></h5>
                <p class="card-text"><%= productos[2].long_description %></p>
                
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../Images/productos/<%= productos[1].dataValues.image %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= productos[3].short_description %></h5>
                <p class="card-text"><%= productos[3].long_description %></p>
              </div>
            </div>
          </div>
        </div>






        
       <!-- Aca van productos destacados-->
       <h2> DESTACADOS</h2>
       <div class="row row-cols-1 row-cols-md-2">

         <div class="col mb-2">
           <div class="card">
             <img src="../Images/<%= productos[1].image %>" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This is a longer</p>
             </div>
           </div>
         </div>
         
         <div class="col mb-2">
           <div class="card">
             <img src="../Images/<%= productos[2].image %>" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This is a longer</p>
             </div>
           </div>
         </div>
       </div>
       <!--POR QUÉ ELEGIRNOS-->
       </div>

<%- include('./partials/footer')%>      

<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>